html, body {
  margin: 0 auto;
  font-family: arial, sans-serif;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
  width: 520px;
  height: 30px;
  border: none;
  font-size: 16px;
}

input[type="submit"] {
  height: 36px;
  background-color: #F2F2F2;
  color: #6a6a6a;
  font-weight: bold;
  border: none;
  padding: 10px;
  border: 1px solid #F2F2F2;
}

input[type="submit"]:hover {
  color: #000;
  border: 1px solid #9e9e9e;
}

textarea:focus, input:focus {
  outline: none;
}

.button-left {
  margin-right: 5px;
}

.button-right {
  margin-left: 5px;
}

.logo img {
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.searchbar {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 550px;
  height: 32px;
  padding: 7px;
  border: 0.5px solid #d7d7d7;
  box-shadow: 0px 1px 2px #b2b2b2;
}

.searchbar img {
  float: right;
  display: inline-block;
}

.searchbuttons {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
  text-align: center;
}
/**
.navleft {
  display: inline;
  float: left;
  height: 5%;
  font-size: 13px;
  margin-left: 15px;
  padding: 10px;
}

.navleft a {
  padding: 10px;
}

.navright {
  display: inline;
  float: right;
  height: 5%;
  font-size: 13px;
  margin-right: 15px;
  padding: 10px;
}

.navright a {
  padding: 10px;
}
**/
